<!DOCTYPE html>
<html lang="en">
	<head>
		<titile>View Lessons</title>
	<link rel="stylesheet" href="../../navbar.css"
			       />
	</head>
	<%- include('./navbarAccount') %>
	<body>
		<h1> Lesson Main Page</h1>
		<p>
	
		</p>
	</body>
</html>

