<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Account Home Page</title>
	</head>

	<body>
		<h1>This is the account Main page</h1>
		<p>
			Welcome <%= user.name %> to your account home page!
			<br />
			<% if (user.nextLesson && user.nextLesson.date) { %> Your next Lesson is
			<%= user.nextLesson.date %>. <% } else { %> Your next Lesson information
			is not available. <% } %>
		</p>
	</body>
</html>
