<!DOCTYPE html>

<link 
	href="https://fonts.googleapis.com/css?family=Homenaje"
	rel="stylesheet" 
	type="text/css" 

/>

<ul id="navbar">
	<li><a href="/account">Home</a></li>	
	<li><a href="/account/lesson">Lesson</a></li>
	<li><a href="/account/instrument">Instrunmet</a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
</ul>
