<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lesson Login</title>
		<style type="text/css">
			div.login {
				background-color: #261077;
				padding: 20px;
				width: 50%;
				margin: 0 auto;
				margin-top: 25px;
				text-align: center;
				color: white;
			}
			form#loginForm {
				text-align: left;
				width: 100%;
				border-radius: 16px;
				margin: 0 auto;
			}
			form#loginForm label {
				color: white;
				font-family: "Homenaje", sans-serif;
				font-size: 20px;
			}
			form#loginForm input[type="text"],
			form#loginForm input[type="password"] {
				width: 100%;
				padding: 10px;
				margin: 5px 0 20px 0;
				border: none;
				background: white;
				color: black;
				box-sizing: border-box; /* Ensures inputs fit inside the form */
			}
			form#loginForm input[type="text"]:focus,
			form#loginForm input[type="password"]:focus {
				background-color: #ddd;
				outline: none;
			}
			form#loginForm button {
				background: linear-gradient(to right, #067175, #08bec5);
				color: white;
				padding: 10px 20px;
				border: none;
				cursor: pointer;
				width: 100%; /* Make the button fit the form width */
				box-sizing: border-box; /* Ensures button fits inside the form */
				border-radius: 15px;
			}
			div.wrongPage {
				margin: auto;
				padding: 20px;
				width: 50%;
				text-align: center;
			}
			div.wrongPage p {
				color: black;
				font-family: "Homenaje", sans-serif;
				font-size: 20px;
			}
			span.required {
				color: #ff6565;
				text-decoration: none;
			}
		</style>
	</head>
	<%- include('../public/navbarMainSite') %>

	<body>
		<div class="login">
			<div class="main">
				<h1>Lesson Login</h1>
			</div>
			<form action="/login" method="post" id="loginForm">
				<label for="username">Username: <span class="required">*</span></label>
				<br />
				<input
					type="text"
					id="username"
					name="name"
					required
					placeholder="Enter username"
				/>
				<br />
				<label for="password">Password: <span class="required">*</span></label>
				<br />
				<input
					type="password"
					id="password"
					name="name"
					required
					placeholder="Enter password"
				/>
				<br />
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="wrongPage">
			<p>Need Lesson Register? <a href="/lesson">Register</a> here.</p>
		</div>
	</body>
</html>
