<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lesson Login</title>
		<link rel="stylesheet" href="../form.css" />
	</head>
	<%- include('../public/navbarMainSite') %>

	<body>
		<div class="login">
			<div class="main">
				<h1>Lesson Login</h1>
			</div>
			<form action="/lesson/login" method="post" id="accountForm">
				<label for="username">Username: <span class="required">*</span></label>
				<br />
				<input
					type="text"
					id="username"
					name="username"
					required
					placeholder="Enter username"
				/>
				<br />
				<label for="password">Password: <span class="required">*</span></label>
				<br />
				<input
					type="password"
					id="password"
					name="password"
					required
					placeholder="Enter password"
				/>
				<br />
				<button type="submit">Login</button>
			</form>
			<p class="required">* Required fields</p>
		</div>
		<div class="wrongPage">
			<p>Need Lesson Register? <a href="/lesson">Register</a> here.</p>
		</div>
	</body>
</html>
