<link
	href="https://fonts.googleapis.com/css?family=Homenaje"
	rel="stylesheet"
	type="text/css"
/>
<style>
	body {
		margin: 0;
		padding: 0;
		font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
			"Lucida Sans", Tahoma, sans-serif;
	}
	div.main {
		margin: 5px;
		padding: 5px;
		font-family: "Homenaje", sans-serif;
	}

	ul#navbar {
		list-style-type: none;
		margin: 0;
		padding: 5px;
		background-color: #2a2a2a;
		position: sticky;
		top: 0;
		height: 40px;

		z-index: 3; /* Make sure the main navbar is above the dropdown */
	}

	ul#navbar li {
		float: left;
		position: relative; /* Needed for positioning the dropdown */
	}

	ul#navbar li.right {
		float: right;
	}

	ul#navbar li a {
		display: block;
		padding: 8px;
		color: white;
		text-decoration: none;
	}

	ul#navbar li a:hover {
		color: rgb(190, 190, 190);
	}

	div.searchBar {
		top: 50%;
		float: right;
		margin-right: 10px;
		height: 80%;
		width: 200px;
		position: relative; /* To contain the form within */
		z-index: 2; /* Ensure it's above other elements but below the dropdown */
	}
	div.searchBar form {
		display: flex;
		height: 100%;
		width: 100%;
	}
	div.searchBar form input[type="text"] {
		flex: 1;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 8px 0 0 8px;
		width: 70%;
	}
	div.searchBar form button[type="submit"] {
		padding: 5px 10px;
		background: linear-gradient(to bottom, #067175, #08bec5);
		color: white;
		border: none;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		width: 30%;
	}
	/* Dropdown specific styles */
	.dropdown {
		float: left; /* Position the dropdown list item */
	}

	.dropdown .dropbtn {
		font-size: 16px;
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit; /* Inherit background from the navbar */
		font-family: inherit; /* Inherit font from the body */
		margin: 0; /* Remove default margins */
		cursor: pointer; /* Change cursor to indicate it's clickable */
	}

	.dropdown-content {
		display: none; /* Hide the dropdown content by default */
		position: absolute; /* Position it relative to the dropdown button */
		background-color: #8d8d8d;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a shadow */
		z-index: 3; /* Make sure the dropdown stays on top */
		top: 100%; /* Position it right below the button */
		left: 0; /* Align with the left edge of the button */
	}

	.dropdown-content a {
		color: black;
		z-index: 3; /* Make sure the dropdown stays on top */

		padding: 12px 16px;
		text-decoration: none;
		display: block; /* Make each link take up a full line */
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
		display: block; /* Show the dropdown content on hover */
	}
</style>

<ul id="navbar">
	<li><a href="/mainSite">Home</a></li>
	<li><a href="#Contact">Contact Us</a></li>
	<li><a href="#rental">Instrument Rentals</a></li>
	<li class="dropdown">
		<a href="/lesson" class="dropbtn">Lesson</a>
		<div class="dropdown-content">
			<a href="/lesson/Login">Login</a>
			<a href="/lesson/Signup">Signup</a>
			<a href="/lesson">Find</a>
		</div>
	</li>

	<li class="right">
		<div class="searchBar">
			<form action="/search" method="get">
				<input type="text" name="q" placeholder="Search..." />
				<button type="submit">Search</button>
			</form>
		</div>
	</li>
</ul>
